body {
  margin: 0;
  background: #fff;
  font-family: 'Roboto', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

#demo-header {
    position: fixed;
    height: 49px!important;
    width: 100%;
    font-size: 16px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-bottom: 1px solid #999;
  }

  #demo-section {
    position: fixed;
    top: 50px!important;
    height: 94%;
    width: 100%;
  }

a {
  color: #EA5565;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 70px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(20, 18, 41);
  background: rgb(30, 29, 50);
}

.container {
  padding: 15px;
}

.container-center {
  max-width: 790px;
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  color: #1E1D32;
}

.right {
  float: right;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #f65565;
  border-color: #e64f5e;
}

.btn-primary:hover {
  background-color: #e64f5e;
  border: 1px solid #c54451;
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
